<section class="shop-sub-header">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3>Our owner and founder knows how important gloves are to a keeper’s performance. He also knows how quickly they can wear out. So, our philosophy is simple: give people the quality they need to perform at their max without breaking the bank. </h3>
			</div>
		</div>
	</div>
</section>