<div class="col-xs-12 col-md-4 tease-product">
	<article {{ fn('post_class', ['$classes', 'entry'] ) }}>

		<a href="{{ post.link }}" class="tease-product__link">

			{% if post.thumbnail %}
				<img src="{{ post.thumbnail.src|resize(shop_thumbnail_image_size) }}" class="tease-product__img"/>
			{% endif %}
			<div class="tease-product__content">
				{% if post.title %}
					<h4 class="tease-product__title">{{ post.title }}</h4>
				{% endif %}
				{% do action( 'woocommerce_after_shop_loop_item_title' ) %}
			</div>

		</a>

	</article>
</div>