{% extends 'base.twig' %}

{% block content %}

	<div class="masthead">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xs-12 col-md-6">
						<span class="masthead__logo">
							{% include 'logo__gray.svg' %}
						</span>
					<h3>A goalkeeper specific brand dedicated to  providing top quality gloves and apparel at an affordable cost  </h3>
					<a href="/about"><button class="button button--white">About Us</button></a>
				</div>
			</div>
		</div>
	</div>

	{# PAGE MODULES #}
	{#{% include "page-modules.twig" %}#}

	{#RECENT POSTS#}
	{#{% include "modules/recent-posts.twig" with {'posts': posts}%}#}

{% endblock %}